.navbar {
  background-color: #5bd3bc;
  border-bottom: 2px solid black;
  }
  
  .btn {
    border: 2px solid black;
  }
  
  .easy {
  background-color: #5bd3bc;
  color: white;
  }
  
  .hard {
  background-color: #ffbdc2;
  color: white;
  }
  
  .btn:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
  }
  
  .question {
    color: white;
  }
  
  .btn-outline-dark:hover {
    background-color: #ffbdc2;
  }
  
  @media (min-width: 1200px) {
    .col-6 {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto); 
    }
  }